.px1 {
    padding: 0 2rem;
}

.mt5 {
    margin-top: 5rem;
}

.todo {
    margin-bottom: 1rem;
}

.todo.completed span {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    padding: 1rem;
}